%h1 Stats

%ul.graph-option-control
  %h3 Options:
  =graph_link_to "week"
  =graph_link_to "month"
  =graph_link_to "year"
  =graph_link_to "previous week"
  =graph_link_to "previous month"
  =graph_link_to "previous year"
  
= bar_chart(@data, @options)

