.col-10.margin-1.completed_tasks
  %header.task_header.center-block
    %h2.flex-2.green
      Completed Tasks
      %span.done_tasks_count (#{user.done_tasks_count})
  %ol 
    = render @tasks
  .center-block
    = will_paginate @tasks
