@import "phew/mixins";
@import "phew/grid";
@import "phew/responsive";
@import "phew/variables";
@import "phew/typography";
@import "phew/navigation";
@import "phew/main";
@import "pages";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*, h1, h2, h3, a {
	font-family: "Raleway", sans-serif;
}

.profile {
	display: flex;
	align-items: center;

	p {
		margin: 0;
	}

	.picture {
		margin-left: 6px;
		width: 20px;
	}
}

.right {
	float: right;
}

.form-control {
	@include base-text-field();
	@include line-text-field();

	font-sze: 18px;
	border-color: $blue;
	&:focus {
		outline: none;
	}
}

.add_task_field {
	@extend .form-control;

	border-color: $red;
}

.action_link {
	a:after {
		content: "  •"
	}

	a:last-child:after {
		content: ""
	}
}

.task_lists {	
	.green {
		color: $green;
		border-color: $green;
	}

	.red {
		color: $red;
		border-color: $red;
	}

	h2 {
		border-bottom: 2px solid black;
		padding-bottom: 6px;
	}

	ol {
		list-style-position: inside;
	}

	input[type="checkbox"] {
		width: 15px;
	}

	li {
		font-size: 24px;
		line-height: 1.8;

		p {
			flex-grow: 2;
			margin-bottom: 0px;
		}
	}
}