@import "phew/mixins";
@import "phew/grid";
@import "phew/responsive";
@import "phew/variables";
@import "phew/typography";
@import "phew/navigation";
@import "phew/main";
@import "pages";
@import "users";
@import "tasks";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*, h1, h2, h3, a {
	font-family: "Raleway", sans-serif;
}

.right {
	float: right;
}

.form-control {
	@include base-text-field();
	@include line-text-field();

	font-sze: 18px;
	border-color: $blue;
	&:focus {
		outline: none;
	}
}

.action_link {
	a:after {
		content: "  •"
	}

	a:last-child:after {
		content: ""
	}
}

