@import "phew/mixins";
@import "phew/grid";
@import "phew/responsive";
@import "phew/variables";
@import "phew/typography";
@import "phew/navigation";
@import "phew/main";
@import "pages";
@import "users";
@import "tasks";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


// Sidebar
.custom_sidebar {
	ul {		
		background: #243B55;
		
		header {
			background: #141E30; /* fallback for old browsers */
			background: -webkit-linear-gradient(to top, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to top, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
		}		
	}

	li {
		transition: 0.15s;
		&:hover {			
			background: darken(#243B55, 10%);
			border-left: 5px solid #66FFCC;
		}
	}

	a {
		color: $light-text-color;
		font-family: $secondary-font;
		font-weight: 400;
	}
}

h1, h2, h3 {
	font-family: $secondary-font;
}

.relative {
	position: relative;
}

.close {
	position: absolute;
	right: 2%;

	&:after {
		content: '✕';			
		color: white;
	}
}		

.close-field {
	position: absolute;
	right: 8px;
	top: 15%;
}

.right {
	float: right;
}

.flex-2 {
	flex-grow: 2;
}

.form-control {
	@include base-text-field();
	@include line-text-field();

	font-sze: 18px;
	border-color: $blue;
	&:focus {
		outline: none;
	}
}

.action_link {
	a:after {
		content: "  •"
	}

	a:last-child:after {
		content: ""
	}
}

