// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graph-option-control {

	h3 {
		display: inline-block;
	}

	li {
		border: 1px solid #B3B3B3;
		border-radius: 3px;
		list-style-type: none;
		display: inline-block;
		padding: 6px 8px;

		&.active {
			background: #B3B3B3;
			color: white;
		}
	}
}

.add_task_field {
	@extend .form-control;

	border-color: $red;
}

.task_header {

	h2, p {
		display: inline-block;
	}
	
}

.task_lists {	
	.green {
		color: $green;
		border-color: $green;
	}

	a {
		margin-right: 6px;

		&:last-child {
			margin-right: 0px;
		}
	}

	.red {
		color: $red;
		border-color: $red;
	}

	h2 {
		text-transform: uppercase;
	}

	ol {
		list-style-position: inside;
	}

	input[type="checkbox"] {
	}

	li {
		font-size: 24px;
		line-height: 1.8;

		p {
			flex-grow: 2;
			margin-bottom: 0px;
		}
	}
}
