// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
	display: flex;
	align-items: center;

	p {
		margin: 0;
	}

	.picture {
		margin-left: 6px;
		width: 20px;
	}
}

.profile_picture {

	img {
		margin-bottom: 12px;
		width: 100%;
	}
}