.nav {
  @include base-nav();
}

.nav-header {
  @include base-nav-header($weight: bold);
}

.dropdown-toggle {
  @include base-dropdown-toggle();
}

.dropdown {
  display: none;
}

.dash {
  width: 20px;
  height: 3px;
  margin: 3px auto;
  background-color: #8E8E8E;  
}

@media (min-width: 750px) {
	.nav {
		padding-left: 24px;
		width: 100%;

		ul {
		  li {
		    display: inline-block;

		    &:last-child {
		      border-bottom: none;
		    }

		  }
		}
	}

	.nav-header {
		display: inline-block;
	}

	.dropdown {
		display: inline-block;
	}

	.dropdown-toggle {
		display: none;
	}

}