// Font variable 
$primary-font: "Hammersmith One", sans-serif;
$secondary-font: "Raleway", sans-serif;

// Colours variable
$red: #C05B65;
$blue: #5B98C0;
$green: #5BC084;
$gray: #878f94;
$light-text-color: #E6E6E6;